@model IEnumerable<NoticeBoard.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 @if (User.Identity.IsAuthenticated)
 {
     <p>
        <a asp-action="Create">Create New</a>
    </p>
     
 }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if((await AuthorizationService.AuthorizeAsync(User,item,NotificatinOperations.Update)).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.NotificationId">Edit</a><span>|</span>
                    }
                    @if((await AuthorizationService.AuthorizeAsync(User,item,NotificatinOperations.Delete)).Succeeded)
                    {
                        <a asp-action="Delete" asp-route-id="@item.NotificationId">Delete</a><span>|</span>
                    }
                    
                }
                <a asp-action="Details" asp-route-id="@item.NotificationId">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
