@model IEnumerable<NoticeBoard.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Adverts</h1>

 @if (User.Identity.IsAuthenticated)
 {
     <p>
        <a asp-action="Create">Create New</a>
    </p>
     
 }
<div class="row justify-content-end">
    <div class="col-sm-4">
        <div class="input-group">
            <input 
                id = "search-table-inpt"
                type="text" 
                class="form-control" 
                placeholder="type to find row">
        </div>
    </div>
</div>

<table id="sorting-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a id="notf-name" class="grow">Name</a>
            </th>
            <th>
                <a id="notf-descipt" class="grow">Description</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if((await AuthorizationService.AuthorizeAsync(User,item,NotificatinOperations.Update)).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span>|</span>
                    }
                    @if((await AuthorizationService.AuthorizeAsync(User,item,NotificatinOperations.Delete)).Succeeded)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span>|</span>
                    }
                    
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @*https://docs.microsoft.com/ru-ru/aspnet/core/mvc/views/layout?view=aspnetcore-5.0*@
     <script type="text/javascript" src="~/js/notification-index.js">
        
     </script>
}
